html {
  scroll-behavior: smooth;
  display: block;
  align-items: center;
}
div {
  position: center;
  border-width: 2px;
  margin: 20px 520px;
  padding: 80px;
  align-items: center;
  padding-top: 100px;
}

form {
  display: block;
  position: absolute;
}

body {
  display: block;
  text-align: center;
  align-items: center;
  background-image: url(./IPL-teams-logo-design-breakdown-scaled.jpg);
  background-repeat: no-repeat;
  background-size: 1650px;
}

[type="text"] {
  border: 1px hidden;
  margin-bottom: 10px;
  width: 370px;
  text-align: center;
  height: 15px;
  padding: 10px;
  border-radius: 5px;
  background: rgb(248, 250, 250);
  background-image: linear-gradient();
}
[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 250px;
  border: 2px solid;
  background-color: cadetblue;
}

select {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  margin-bottom: 10px;
  width: 400px;
  height: 38px;
  border: hidden;
  background: rgb(248, 250, 250);
}

h1 {
  color: rgb(253, 251, 251);
}

[type="text"]:focus {
  border: 1px hidden;
  margin-bottom: 10px;
  width: 370px;
  text-align: center;
  height: 15px;
  padding: 10px;
  border-radius: 5px;
  background: rgb(182, 247, 247);
}

select:focus {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  margin-bottom: 10px;
  width: 400px;
  height: 38px;
  border: hidden;
  background: rgb(182, 247, 247);
}

[type="submit"]:focus {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 250px;
  border: 2px solid;
  background-color: rgb(255, 2, 2);
}
